html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  margin: 0;
  display: block;
}

body {
  background-color: grey;
}

@font-face {
  font-family: 'Open Sans Bold';
  src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'Open Sans Light';
  src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
  font-family: 'Open Sans Regular';
  src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'Open Sans SemiBold';
  src: url(../fonts/OpenSans-Semibold.ttf);
}
.header {
  background-color: #fff;
  color: #212121;
  padding: 50px 0;
}

.menu__item a {
  font-family: 'Open sans SemiBold';
  font-size: 20px;
  color: #212121;
}
.menu__item a:hover {
  color: #00897b;
  text-decoration: none;
}
.menu__item + .menu__item {
  margin-left: 37px;
}
