html{
    box-sizing: border-box;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
a{
    display: inline-block;
    text-decoration: none;
}
h1{
    margin: 0;
    padding: 0;
}
ul,
li{
    padding: 0;
    margin: 0;
    display: block;
}
body{
    font-family: 'Open sans Regular';
    color: #212121;
}
.title{
    font-family: 'Open Sans Bold';
    font-size: 30px;
    margin-bottom: 35px;
}
.text{
    margin-bottom: 110px;
    font-size: 15px;
    line-height: 22px;
}
.toTop{
    z-index: 999;
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: #00897b;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #212121;
    display: none;
    &::before{
        line-height: 38px;
    }
}
